{{!< default}}

<div role="banner" class="cover">
  <div {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
      <a href="/blog/" class="cover-logo">
        <img src="{{@blog.logo}}" alt="Blog Logo">
      </a>
    {{/if}}
    <h1 class="cover-title">{{@blog.title}}</h1>
    <h2 class="cover-description">{{@blog.description}}</h2>
    <footer class="cover-footer">
      <a href="http://www.twitter.com/jabcolo33" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      &nbsp;
      <a href="http://www.github.com/jaimebarriga" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      &nbsp;
      <a href="http://www.linkedin.com/in/jbarriga" targe="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </footer>
  </div>
</div>

<div data-pjax-container class="content">
  <section class="wrapper">
    <div class="wrapper-container">
      <section class="post-list">
        {{#foreach posts}}
          {{> post/list this}}
        {{/foreach}}
      </section>

      {{pagination}}

      {{> footer this}}
    </div>
  </section>
</div>
